main {
  margin: 20px 0;
  display: flex;
}

/* ASIDE */
aside {
  width: 27%;
  text-align: center;
}

aside h1 {
  font-weight: normal;
  font-size: 1.6rem;
}

aside h1 span {
  color: red;
}

aside .top,
aside .bottom {
  border: 1px solid black;
}

aside .top {
  margin-bottom: 20px;
  padding: 0 10px;
}

aside ul {
  padding-left: 0;
  list-style: none;
}

aside li {
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 8px;
  background-color: #f1f1f1;
}

aside li:hover,
aside li.active {
  background-color: #2b6ca3;
}

aside a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

aside li:hover a,
aside li.active a {
  color: #fff;
}

main h2 {
  color: #fff;
  background-color: #2b6ca3;
  font-size: 1.3rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 8px;
  text-align: center;
}

aside .bottom p {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside .bottom p.coin span {
  font-size: 1.8rem;
  color: blueviolet;
}

aside .bottom p.coin img {
  width: 35px;
  margin-left: 8px;
}

aside button.deposit {
  color: #fff;
  background-color: #eb0000;
  border-radius: 16px;
  border: none;
  padding: 5px 10px;
  height: auto;
  font-size: 1.2rem;
  margin: 10px 0;
}

aside button.deposit:hover {
  background-color: darkred;
}
/* END ASIDE */

/* MAIN CONTENT */
.mainContent {
  flex-grow: 1;
  padding-left: 5px;
}

.mainContent h2 {
  margin-bottom: 0;
}

.mainContent form {
  padding: 10px 20px;
}

.mainContent .form-group {
  margin-bottom: 20px;
}

.mainContent .form-group label {
  font-weight: 500;
  font-size: 1.15rem;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.mainContent .form-group label img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.mainContent .form-group input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
}

.mainContent .form-group select {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
  background-color: white;
  margin-right: 0;
}

.mainContent .form-button {
  text-align: center;
  margin: 10px 0;
}

.mainContent .form-button button {
  color: #fff;
  background-color: #2b6ca3;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  font-size: 1.1rem;
}

.mainContent .form-button button:hover {
  background-color: #2c86d3;
}

.mainContent form.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.mainContent form.grid .form-button {
  grid-column: 1 / -1;
}
