main {
  background-color: #f9f9f9;
  border: 1px solid #f0f0f0;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.05rem;
}

main h1 {
  color: #2b6ca3;
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
}

main ol {
  counter-reset: item;
}

main li {
    list-style: none;
}

main li::before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

main > ol {
    padding-left: 0;
}

main > ol > li {
    font-weight: bold;
}

main > ol ol {
  padding-left: 20px;
  margin: 20px 0;
}

main > ol ol > li {
    font-weight: normal;
    margin-bottom: 5px;
}

main > ol ol > li::before {
    font-weight: bold;
}