main {
  background-color: #f9f9f9;
  border: 1px solid #f0f0f0;
  padding: 0 20px 30px;
  margin-top: 20px;
}

main .meta {
    color: #757575;
    font-size: 1.05rem;
    padding-bottom: 5px;
}

main .meta .time {
    padding-right: 5px;
    border-right: 1px solid #757575;
}

main .interaction {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    gap: 5px;
}

main .interaction button {
    background-color: royalblue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: .7rem;
}

main .interaction button:hover {
    background-color: blue;
}

main .interaction > span {
    font-size: .8rem;
}

main .interaction > a {
    display: block;
    margin-left: auto;
}

main .interaction img {
    height: 35px;
}

main .keywords {
    font-size: 1.05rem;
}

main .related {
    margin-top: 40px;
}

main .related .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 30px;
}

main .related a.card {
    display: block;
    text-decoration: none;
    color: black;
}

main .related .card img {
    width: 100%;
} 

main .related .card .description {
    text-align: center;
    margin: 0;
}

main .related .card:hover .description {
    color: blueviolet;
}

.fixed .scrollBack {
    background-image: url(./image/news/upButton.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.fixed .scrollBack:hover {
    cursor: pointer;
}
