/* SLIDER */
section.slider {
  padding: 0 10px;
  margin-top: 20px;
  position: relative;
}

section.slider .card {
  background-color: lightgreen;
  text-align: center;
  border-radius: 30px;
  padding-bottom: 20px;
  position: relative;
}

section.slider .card img {
  width: 150px;
  aspect-ratio: auto;
  margin: 0 auto;
}

section.slider .card .badge {
  position: absolute;
  top: 0;
  left: -20px;
  width: 80px;
  height: auto;
}

section.slider .card p {
  margin: 5px 0;
}

section.slider .card .price {
  font-size: 1.5rem;
  font-weight: bold;
}

section.slider .card .unit {
  font-size: 1.1rem;
}

section.slider .card .time span {
  color: blueviolet;
  font-weight: bold;
}

section.slider .card a {
  text-decoration: none;
  font-size: 1.1rem;
  color: brown;
}

section.slider .card .play a {
  background-color: red;
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
}

section.slider .owl-nav button {
  position: absolute;
  top: 35%;
  width: 50px;
  height: 50px;
  background-color: white !important;
  border: 2px solid orange !important;
  border-radius: 50% !important;
}

section.slider .owl-nav button span {
  font-size: 2rem;
  color: orange;
  font-weight: bold;
}

section.slider .owl-nav .owl-prev {
  left: -30px;
}

section.slider .owl-nav .owl-next {
  right: -30px;
}

section.slider .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid orange;
}

section.slider .owl-dots .owl-dot.active span {
  background-color: orange;
}
/* END SLIDER */

/* TICKET */
section.ticket {
  display: none;
}
/* ENDTICKET */

/* MOBILE-RESULT */
section.mobile-result {
  display: none;
}
/* END MOBILE-RESULT */

/* RESULT */
section.result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: aquamarine;
}

section.result h1 {
  text-align: center;
  color: darkblue;
  font-size: 1.7rem;
  font-style: italic;
  margin-top: 10px;
}

section.result .winner-display {
  display: flex;
  align-items: center;
  height: 200px;
}

section.result .winner-display img {
  height: 100%;
}

section.result .winner-display img[alt="winner-cup"] {
  height: 70%;
}

section.result .winner-display img[alt="leave-right"] {
  transform: scaleX(-1);
}

section.result .winners {
  flex-grow: 1;
  text-align: center;
}

section.result .winners .card-winner {
  margin-bottom: 20px;
  display: none;
}

section.result .winners .card-winner.active {
  display: block;
}

section.result .winners p {
  margin: 0;
  margin-bottom: 5px;
}

section.result .winners p.name {
  color: blue;
}
section.result .winners p.lottery {
  font-weight: bold;
  font-size: 0.9rem;
}
section.result .winners p.date {
  font-size: 0.85rem;
}
section.result .winners span.money {
  font-size: 1.05rem;
  font-weight: bold;
  color: red;
}

section.result .update {
  padding: 10px;
}

section.result h2 {
  font-size: 1.2rem;
  display: flex;
}

section.result h2 img {
  width: 30px;
  margin-right: 10px;
  height: 35px;
}

section.result .update > img {
  width: 100%;
}

section.result .right {
  background-image: url(./image/result/result_background.jpg);
  background-size: cover;
  padding-left: 60px;
  padding-right: 20px;
  height: 700px;
  overflow: auto;
}

section.result .right h1 {
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid green;
}

section.result a.card {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid green;
  padding-bottom: 20px;
}

section.result .card .info {
  display: flex;
  justify-content: space-between;
}

section.result .card .info h5 {
  font-size: 1.7rem;
  margin-top: 10px;
  margin-bottom: 0;
}

section.result .card:hover .info h5 {
  color: blueviolet;
}

section.result .card .info p {
  margin-top: 5px;
  margin-bottom: 0;
}

section.result .card .balls {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 5px;
  margin-top: 5px;
}

section.result .card .ball {
  aspect-ratio: 1 / 1;
  background-image: url(./image/home/result/number.png);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.result .card .special {
  background-image: url(./image/home/result/ball.png);
}

section.result .card .summary {
  display: flex;
  gap: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
}

section.result .card .summary p {
  flex-grow: 1;
  border: 2px solid darkorange;
  border-radius: 5px;
  padding: 6px 8px;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  color: darkblue;
}

section.result .card .summary span {
  color: black;
}

section.result .card p.note {
  margin-bottom: 0;
}
/* END RESULT */

/* PROCESS */
section.process {
  background-image: url(./image/home/process/background.jpg);
  background-color: aqua;
  text-align: center;
  padding-bottom: 20px;
}

section.process h1 {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: normal;
}

section.process > p {
  font-size: 1.2rem;
}

section.process .steps {
  display: flex;
  gap: 5px;
  padding: 0 50px;
}

section.process .step {
  color: white;
  padding: 0 10px;
  width: 25%;
  font-size: 1.2rem;
}

section.process .step1 {
  background-color: orange;
}
section.process .step2 {
  background-color: gray;
}
section.process .step3 {
  background-color: darkcyan;
}
section.process .step4 {
  background-color: coral;
}

section.process .step h3 {
  font-size: 1.5rem;
  font-weight: normal;
}
/* END PROCESS */

/* INTRO */
section.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

section.intro .left {
  padding-right: 20px;
}

section.intro .left .card {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  padding-bottom: 20px;
}

section.intro .left .card-img {
  padding: 10px;
}

section.intro .left .card-img img {
  width: 100%;
}

section.intro .left .card-text {
  font-size: 1.05rem;
}

section.intro .left .card-text img {
  width: 40px;
  margin-right: 10px;
}

section.intro .left .card-text a {
  display: flex;
  width: max-content;
  align-items: center;
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  color: blueviolet;
}
/* END INTRO */

/* FEATURE */
section.feature {
  text-align: center;
}

section.feature h1 {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: normal;
  margin-top: 15px;
}

section.feature h1 span {
  color: red;
}

section.feature > p {
  border: 5px dotted orange;
  padding: 10px;
  font-size: 1.3rem;
}

section.feature > p a {
  text-decoration: none;
  color: blueviolet;
}

section.feature > p a:hover {
  color: orange;
}

section.feature .features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: baseline;
}

section.feature .card {
  padding: 10px;
  font-size: 1.1rem;
}

section.feature .card img {
  width: 75%;
}

section.feature .card p {
  padding: 10px;
}
/* END FEATURE */

@media screen and (max-width: 992px) {
  /* INTRO */
  section.intro {
    display: block;
  }

  section.intro .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section.intro .right {
    display: none;
  }

  /* RESULT (WINNER) */
  section.result {
    background-color: white;
    display: block;
    padding: 5px;
  }

  section.result h1 {
    background-color: red;
    color: white;
    padding: 5px 0;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  section.result .winner-display {
    padding: 0 10%;
  }

  section.result .left .update {
    display: none;
  }

  section.result .right {
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }

  section.result .right h1 {
    padding-bottom: 0;
    border-bottom: none;
  }

  section.result .cards {
    height: 250px;
    overflow: scroll;
    background-color: lightcyan;
  }

  section.result a.card {
    padding: 10px calc((100vw - 550px) / 2);
  }
}

@media screen and (max-width: 768px) {
  /* SLIDER */
  section.slider {
    padding: 0 40px;
  }

  /* RESULT (WINNER) */
  section.result .winner-display {
    padding: 0 5%;
  }

  section.result a.card {
    padding: 10px calc((100vw - 450px) / 2);
  }

  /* PROCESS */
  section.process .steps {
    padding: 0 20px;
  }
}

@media screen and (max-width: 576px) {
  /* SLIDER */
  section.slider {
    display: none;
  }

  /* RESULT (WINNER) */
  section.result .winner-display img {
    height: 70%;
  }

  section.result .winner-display img[alt="winner-cup"] {
    display: none;
  }

  section.result .right {
    display: none;
  }

  /* TICKET */
  section.ticket {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  section.ticket .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    border: 3px solid blue;
    border-radius: 5px;
    padding: 0px 10px;
    position: relative;
  }

  section.ticket .card-img {
    grid-row: 1 / -1;
  }

  section.ticket img {
    width: 90%;
  }

  section.ticket .card p {
    margin: 0;
  }

  section.ticket .card p:first-of-type {
    grid-column: 2 / -1;
    margin-top: 10px;
  }

  section.ticket .card .price {
    font-size: 1.4rem;
  }

  section.ticket .card .unit {
    color: gray;
  }

  section.ticket .card .time {
    color: blueviolet;
    align-self: start;
  }

  section.ticket .card .play {
    text-align: right;
  }

  section.ticket .card .play a {
    display: inline-block;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }

  section.ticket .card .play a:active {
    color: lightgray;
  }

  section.ticket .card .badge {
    position: absolute;
    top: -10px;
    right: 0;
    width: 60px;
    height: auto;
  }

  /* MOBILE RESULT */
  section.mobile-result {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  section.mobile-result a.card {
    display: grid;
    grid-template-columns: 1fr 3fr;

    text-decoration: none;
    color: black;
    border: 3px solid lightgreen;
    border-radius: 5px;
    padding-bottom: 10px;
  }

  section.mobile-result .card img {
    width: 95%;
  }

  section.mobile-result .card .content p:first-of-type {
    margin-bottom: 0;
  }

  section.mobile-result .card .money {
    font-size: 1.4rem;
  }

  section.mobile-result .card .unit {
    color: gray;
  }

  section.mobile-result .card .date {
    color: blueviolet;
    margin: 5px 0;
  }

  section.mobile-result .card .balls {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 3px;
    padding-right: 10px;
  }

  section.mobile-result .card .ball {
    border: 1px solid gray;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.mobile-result .card .summary {
    grid-column: 1 / -1;
    display: flex;
    gap: 3px;
    font-size: 1.05rem;
    padding: 0 5px;
  }

  section.mobile-result .card .summary p {
    flex-grow: 1;
    text-align: center;
    border: 3px solid gray;
    border-radius: 5px;
    padding: 6px 8px;
    margin-bottom: 0;
  }

  /* PROCESS */
  section.process {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
  }

  section.process h1 {
    display: none;
  }

  section.process > p {
    display: none;
  }

  section.process > h2 {
    color: white;
    margin-top: 0;
    font-size: 1.15rem;
  }

  section.process .steps {
    flex-direction: column;
    gap: 0;
    padding: 0 20px;
  }

  section.process .step {
    font-size: 1.15rem;
    width: 100%;
    padding: 0;
    padding-right: 5px;

    display: grid;
    grid-template-columns: 80px 1fr;
  }

  section.process .step h3 {
    font-size: 1.15rem;
  }

  section.process .step p {
    text-align: left;
  }

  section.process .step .icon {
    display: none;
  }

  section.process .step3 {
    background-color: blueviolet;
  }

  /* INTRO */
  section.intro {
    display: none;
  }

  /* FEATURE */
  section.feature {
    background-color: lightcyan;
    padding: 20px 0 10px;
  }

  section.feature h1 {
    display: none;
  }

  section.feature > p {
    margin: 20px;
    margin-top: 0;
  }

  section.feature .features {
    display: block;
    padding: 0 20px;
  }

  section.feature .card {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
  }

  section.feature .card img {
    width: 80%;
  }

  section.feature .card p {
    padding: 0 10px;
    text-align: left;
    font-size: 1.05rem;
  }
}
