body {
  padding: 0 150px;
}

/* HEADER */
header {
  display: flex;
  align-items: flex-end;
}

.header-left {
  flex: 1;
}

.header-left img {
  width: 250px;
  aspect-ratio: auto;
}

.header-right {
  flex: 2;
  text-align: right;
}

.header-right p {
  margin-top: 0;
}

.header-right input {
  height: 25px;
  padding: 5px;
}

.header-right button {
  height: 40px;
  border: none;
  font-weight: bold;
  color: white;
}

.header-right button:hover {
  cursor: pointer;
}

.header-right button.login {
  background-color: red;
  padding: 5px 15px;
}

.header-right button.login:hover {
  background-color: gainsboro;
  color: black;
}

.header-right button.signup {
  background-color: yellow;
  color: black;
  padding: 5px 15px;
}

.header-right button.signup:hover {
  background-color: gainsboro;
}

.header-right .bottom-line {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-right img {
  width: 30px;
  aspect-ratio: 1 / 1;
  margin-right: 5px;
}

.header-right button.share {
  background-color: lightcoral;
  font-size: 1.05rem;
  margin-right: 30px;
  border-radius: 30px;
  padding: 0 10px;
  height: 30px;
}

.header-right button.share:hover {
  background-color: green;
}

.header-right button.fb-login {
  background-color: darkorchid;
  margin-right: 5px;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.header-right button.fb-login:hover {
  background-color: blue;
}

.header-right button.zalo-login {
  background-color: violet;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.header-right button.zalo-login:hover {
  background-color: cornflowerblue;
}
/* END HEADER */

/* NAVBAR */
nav ul {
  list-style: none;
  background-color: black;
  color: white;
  padding-left: 0;
  font-size: 1.2rem;
  margin-bottom: 0;

  display: flex;
}

nav li {
  padding: 15px;
  position: relative;
}

nav li:hover {
  cursor: pointer;
  background-color: red;
}

nav a {
  text-decoration: none;
  color: white;
}

nav i {
  font-size: 0.8rem;
}

nav .list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  width: max-content;
  display: none;
}

nav li:hover .list {
  display: block;
}

nav .list p {
  margin: 0;
  padding: 10px;
}

nav .list p:hover {
  background-color: red;
}
/* END NAVBAR */

/* BANNER */
section.banner {
  margin-top: 2px;
}

section.banner img {
  width: 100%;
  height: 360px;
  display: none;
}

section.banner img.active {
  display: block;
}
/* END BANNER */

/* FOOTER */
footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 0 40px;
  font-size: 0.9rem;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer .policy ul {
  list-style: none;
  padding-left: 0;
}

footer .policy li {
  margin-bottom: 5px;
}

footer .policy a {
  text-decoration: none;
  color: white;
}

footer .policy a:hover {
  text-decoration: underline;
}

footer .connect img {
  width: 30px;
  aspect-ratio: auto;
}

footer .payment img {
  height: 30px;
  aspect-ratio: auto;
}

footer .payment .vnpay {
  background-color: white;
  text-align: center;
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}

footer .payment .vnpay img {
  height: 40px;
}

footer .customer p {
  margin: 0;
  margin-bottom: 5px;
}

footer .customer a {
  color: violet;
}

.footer-bottom p {
  margin: 0;
  margin-bottom: 10px;
}

.footer-bottom a {
  color: white;
  display: inline-block;
  width: 100px;
}

footer .copyright {
  text-align: center;
}
/* END FOOTER */

/* FIXED ICON*/
.fixed .zalo {
  position: fixed;
  bottom: 90px;
  right: 30px;
  width: 60px;
  height: auto;
}
/* END FIXED ICON */
