body {
  padding: 0 120px;
}

header {
  display: flex;
  align-items: flex-end;
}

.header-left {
  flex: 1;
}

.header-left img {
  width: 250px;
  aspect-ratio: auto;
}

.header-right {
  flex: 2;
  text-align: right;
}

.header-right p {
    margin-top: 0;
}

.header-right input {
  height: 25px;
  padding: 5px;
}

.header-right button {
  height: 40px;
  border: none;
  font-weight: bold;
  color: white;
}

.header-right button:hover {
  cursor: pointer;
}

.header-right button.login {
  background-color: red;
  padding: 5px 15px;
}

.header-right button.login:hover {
  background-color: gainsboro;
  color: black;
}

.header-right button.signup {
  background-color: yellow;
  color: black;
  padding: 5px 15px;
}

.header-right button.signup:hover {
  background-color: gainsboro;
}

.header-right .bottom-line {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-right img {
  width: 30px;
  aspect-ratio: 1 / 1;
  margin-right: 5px;
}

.header-right button.share {
  background-color: lightcoral;
  font-size: 1.05rem;
  margin-right: 30px;
  border-radius: 30px;
  padding: 0 10px;
  height: 30px;
}

.header-right button.share:hover {
  background-color: green;
}

.header-right button.fb-login {
  background-color: darkorchid;
  margin-right: 5px;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.header-right button.fb-login:hover {
    background-color: blue;
}

.header-right button.zalo-login {
  background-color: violet;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.header-right button.zalo-login:hover {
    background-color: cornflowerblue;
}

nav ul {
    list-style: none;
    background-color: black;
    color: white;
    padding-left: 0;
    font-size: 1.2rem;

    display: flex;
}

nav li {
    padding: 15px;
}

nav li:hover {
    cursor: pointer;
    background-color: red;
}

nav a {
    text-decoration: none;
    color: white;
}

nav i {
    font-size: 0.8rem;
}
