main {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
}

main .avatar {
  text-align: center;
}

main .avatar img {
  width: 20%;
  border-radius: 50%;
}

main h1 {
  color: #2196f3;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
}

main .instruction {
  font-size: 1.05rem;
}

main .form-group {
  margin-bottom: 16px;
}

main .form-group > * {
  display: block;
}

main .form-group input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 1.05rem;
}

main .form-group .error {
  color: red;
  font-size: 0.9rem;
}

main form button {
  width: 100%;
  color: white;
  background-color: #2b6ca3;
  border: none;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
}

main form button:hover {
  background-color: lightgray;
  color: black;
}

main .links {
  padding: 16px 0;
  font-size: 1.1rem;
  text-align: right;
}
